@{
    ViewData["Title"] = "API2 token";
}
<h1>@ViewData["Title"]</h1>

<p>Token for API2 obtained using OBO with the token for API1</p>
<textarea rows="20" cols="80" wrap="hard">@ViewBag.TokenResponse</textarea>
